.App {
  text-align: center;
  width: 100%;
}
body {
  height: 100vh;
  background-color: #263238;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif !important;
}
* {
  box-sizing: border-box;
}
